﻿@model jjonesSite.Models.CART

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CART</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.History)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.History)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BOOK.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BOOK.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUSTOMER.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUSTOMER.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CartID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
