﻿@model IEnumerable<jjonesSite.Models.CART>

@{
    ViewBag.Title = "My Cart";
}

<h2>My Cart</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.History)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BOOK.Title)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.CUSTOMER.Email)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Quantity > 0)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BOOK.SellingPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BOOK.Title)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.CUSTOMER.Email)
                </td>*@
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CartID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CartID }) |
                    @Html.ActionLink("Remove From Cart", "UpdateCart", new { cartID = item.CartID, quantity = item.Quantity - 1 })
                </td>
            </tr>
        }
    }

</table>
