﻿@model jjonesSite.Models.INVOICE_BOOK

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>INVOICE_BOOK</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BOOK.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BOOK.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INVOICE.InvoiceID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INVOICE.InvoiceID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InvoiceBookID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
