﻿@model IEnumerable<jjonesSite.Models.INVOICE_BOOK>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BOOK.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INVOICE.InvoiceID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BOOK.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INVOICE.InvoiceID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InvoiceBookID }) |
            @Html.ActionLink("Details", "Details", new { id=item.InvoiceBookID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InvoiceBookID })
        </td>
    </tr>
}

</table>
