﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tutorial - Home</title>
</head>
<body>
    <div>
        <a href="../tip1.cshtml">Tip 1</a>
        <a href="../tip2.cshtml">Tip 2</a>
        <a href="../tip3.cshtml">Tip 3</a>
        <a href="../tip4.cshtml">Tip 4</a>
        <a href="../tip5.cshtml">Tip 5</a>
        <a href="../tip6.cshtml">Tip 6</a>
        <a href="../tip7.cshtml">Tip 7</a>
        <a href="../tip8.cshtml">Tip 8</a>
        <a href="../simpleCodeExample.cshtml">Simple Code Example</a>
    </div>
</body>
</html>

@{
    var tipMessage = "";
    var linkPath = "";

    if (IsPost)
    {
        // Retrieve the numbers that the user entered.
        var pageNumber = Request["numberText"];
        
        if (pageNumber == "1")
        { tipMessage = "Tip 1";
        linkPath = "../tip1.cshtml";  
        }
        else if (pageNumber == "2")
        {
            tipMessage = "Tip 2";
            linkPath = "../tip2.cshtml";
        }
        else if (pageNumber == "3")
        {
            tipMessage = "Tip 3";
            linkPath = "../tip3.cshtml";
        }
        else if (pageNumber == "4")
        {
            tipMessage = "Tip 4";
            linkPath = "../tip4.cshtml";
        }
        else if (pageNumber == "5")
        {
            tipMessage = "Tip 5";
            linkPath = "../tip5.cshtml";
        }
        else if (pageNumber == "6")
        {
            tipMessage = "Tip 6";
            linkPath = "../tip6.cshtml";
        }
        else if (pageNumber == "7")
        {
            tipMessage = "Tip 7";
            linkPath = "../tip7.cshtml";
        }
        else if (pageNumber == "8")
        {
            tipMessage = "Tip 8";
            linkPath = "../tip8.cshtml";
        }
        else
        {
            tipMessage = "Simple Code Example";
            linkPath = "../simpleCodeExample.cshtml";
        }
    }
}
<body>
    <p>Enter tip number you would like to view then click <strong>Select</strong>.</p>
    <form action="" method="post">
        <p>
            <label for="numberText">Tip to view (1-8):</label>
            <input type="text" name="numberText" />
        </p>
        <p><input type="submit" value="Select" /></p>
        <br/>

    </form>

    <p><a href="@linkPath">@tipMessage</a></p>
    <br />
    <a href="../index.cshtml">Home</a>
</body>
</html>