﻿5. You enclose literal string values in double quotation marks
<br />
A string is a sequence of characters that are treated as text. To specify a string, you enclose it in double quotation marks:
<br />
@{ var myString = "This is a string literal"; }

If the string that you want to display contains a backslash character (\) or double quotation marks ( " ), use a verbatim string literal that's prefixed with the @ operator. (In C#, the \ character has special meaning unless you use a verbatim string literal.)
<br />
<!-- Embedding a backslash in a string -->
@{ var myFilePath = @"C:\MyFolder\"; }
<p>The path is: @myFilePath</p>
<br />
To embed double quotation marks, use a verbatim string literal and repeat the quotation marks:
<br />
<!-- Embedding double quotation marks in a string -->
@{ var myQuote = @"The person said: ""Hello, today is Monday."""; }
<p>@myQuote</p>

<br />
<a href="../index.cshtml">Home</a>