﻿6. Code is case sensitive

In C#, keywords (like var, true, and if) and variable names are case sensitive. The following lines of code create two different variables, lastName and LastName.

@{
    var lastName = "Smith";
    var LastName = "Jones";
}
<p>@lastName</p>
<p>@LastName</p>
<br />
<br/>
<a href="../index.cshtml">Home</a>