﻿8. You can write code that makes decisions
<br />
A key feature of dynamic web pages is that you can determine what to do based on conditions. The most common way to do this is with the if statement (and optional else statement).
<br />
@{
    var result = "";
    if (IsPost)
    {
        result = "This page was posted using the Submit button.";
    }
    else
    {
        result = "This was the first request for this page.";
    }
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form method="POST" action="">
        <input type="Submit" name="Submit" value="Submit" />
        <p>@result</p>
    </form>
    <br/>
    <a href="../index.cshtml">Home</a>
</body>
</html>