﻿@model jjonesSite.Models.BOOK

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Title)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            Author
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorFirstName), @Html.DisplayFor(model => model.AuthorFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISBN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        @* TODO// DIsplay cost only if you are a manager *@
        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantityOnHand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityOnHand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SellingPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellingPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PUBLISHER.PublisherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PUBLISHER.PublisherName)
        </dd>

    </dl>
</div>
<p> @* TODO// edit only visible when manager logged in *@
    Add To Cart |
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookID }) | 
    @Html.ActionLink("Back to List", "Index")
</p>
