﻿@model IEnumerable<jjonesSite.Models.BOOK>

@{
    ViewBag.Title = "Book List";
}

<h2>Book List</h2>

<p>@* TODO// "create new" visible only if you are manager *@
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            Author
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantityOnHand)
        </th>
        <th>
            Price
        </th>
        <th>
            Publisher
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorLastName), 
            @Html.DisplayFor(modelItem => item.AuthorFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantityOnHand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SellingPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PUBLISHER.PublisherName)
        </td>
        <td>
            @Html.ActionLink("Add To Cart", "AddToCart", "Cart", new { id=item.BookID }, null) |
            @Html.ActionLink("Edit", "Edit", new { id=item.BookID }) | @*TODO edit only for admins logged in*@
            @Html.ActionLink("Details", "Details", new { id=item.BookID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookID }) @*TODO delete only for admins logged in*@
        </td>
    </tr>
}

</table>
