﻿@model jjonesSite.Models.INVOICE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>INVOICE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfItems)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfItems)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUSTOMER.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUSTOMER.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InvoiceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
